{% extends "core/base.html" %}
{% block contenido %}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {% for i in a %}
        <div class="post-preview">
            <a href="{% url "detalle-post" i.id %}">
                <h2 class="post-title">
                    {{i.titulo}}
                </h2>
                <h3 class="post-subtitle">
                  {{i.subtitulo}}
                </h3>
            </a>

            <p class="post-meta">Posteado por: {{i.autor}} - Categoria: {{i.seccion}} - Fecha de publicacion: September 24, 2014</p>

        </div>
        <hr>
        {% endfor %}


        <!-- Pager -->
        <ul class="pager">
            <li class="next">
                <a href="#">Post Antiguos &rarr;</a>
            </li>
        </ul>
    </div>
</div>
</div>


{% endblock %}
